
@import 'fonts';

a {
  color:#606c76;
  &:visited {
    color:#606c76;
  }
}

body {
  display:flex;
  height:100vh;
  margin:0;
  padding:0;
}

#content {
  margin:1rem;

  &>* {
    flex: 1;

    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

form {
  margin:0;
}

header {
  text-align:center;
}

/********** Decrease large header size **********/
h1,h2,h3,h4,h5,h6{
  font-family:'Montserrat','Verdana',sans-serif;
  text-transform:uppercase;
}

h1 {
  font-size:3.0rem;
  margin:1rem;
}
h2 {
  font-size:2.4rem;
}
h3 {
  font-size:1.9rem;
}
h4 {
  font-size:1.4rem;
}
h5 {
  font-size:1.2rem;
}
h6 {
  font-size:1rem;
}

.input--file {
  position: relative;
  color: #7f7f7f;
}

.input--file input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

input#SelectFile {
  display:none;
}
